.flex {
    display: flex;
}

.messageBlock {
    border: 1px solid darkolivegreen;
    padding: 10px;
    margin: 5px 20px;
}

.messageText {
    border: 1px solid darkolivegreen;
    padding: 5px 15px;

}

.messageUser {
    font-style: italic;
    text-align: end;
    margin: 3px 15px;
}